<!DOCTYPE html>
<html>
  <head>
    <title>El título de la página</title>
  </head>
  <body>
   <h2>Hola dime a quien saludar</h2>
  <form action="/hello" method="post">
    <label for="name"><input type="text" id="name" name="name">
      <input type="submit" value="Submit">
  </form> 
  <!-- <h1>Mi cuenta es: <%=@number%></h1>
  <form action="/count" method="get">
    
     <input type="submit" value="Submit">
  </form>  -->

  </body>
</html> 