<!DOCTYPE html>
<html>
  <head>
    <title>El título de la página</title>
  </head>
  <body>

<form action="/stats">
 <input type="hidden" value="myFunction()" name="stats">
   <input type="submit" value="Suma">
  <%# <button onclick="myFunction()">Try it</button> %>
</form>
<%=@index%>
<p id="demo"></p>

<script>
function myFunction() {
    var x = navigator.userAgent;
    document.getElementById("demo").innerHTML = x;
}
</script>

  </body>
</html> 